:root {
	--black: #311f09;
	--orange: #ff8a00;
	--white: #fff;
	--green: #3fa72f;
	--white-orange: #ffe9cf;
}

body,
html {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	font-size: inherit;
}

/* HEADER */

nav a {
	margin-right: 45px;
	color: var(--black);
	transition: all 0.3s ease-in-out;
}

nav a:hover {
	color: var(--green);
	transform: scale(1.05);
}

nav a.checked {
	color: var(--orange);
}

nav a:last-of-type {
	margin-right: 0;
}

header {
	margin-top: 51px;
}

.container {
	max-width: 1237px;
	margin: 0 auto;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-content__logo {
}

.header-content__last {
	display: flex;
	align-items: center;
	gap: 20px;
}

.header-content__last a:last-of-type {
	padding: 15px 34px;
	color: var(--white);
	background-color: var(--green);
	border-radius: 133px;
	transition: all 0.3s ease-in-out;
}

.header-content__last a:last-of-type:hover {
	background-color: var(--orange);
}

/* MAIN */

.main {
	margin-top: 166px;
}

.main-content {
	display: flex;
	justify-content: space-between;
}

.main-content__about {
	margin-bottom: 22px;
	display: inline-block;
	padding: 10px 34px;
	background-color: var(--white-orange);
	border-radius: 126px;
	color: var(--orange);
}

.main-content h1 {
	margin-bottom: 34px;
	font-size: 80px;
	line-height: 1.1;
	font-weight: 700;
	color: var(--black);
}

.main-content p {
	margin-bottom: 77px;
	display: inline-block;
	line-height: 2;
}

.main-content__buttons {
	display: flex;
	align-items: center;
	gap: 20px;
}

.main-content__buttons a {
	color: var(--white);
	display: inline-block;
	border-radius: 162px;
	transition: 0.3s ease-in-out;
}

.main-content__buttons a:hover {
	transform: scale(1.05);
}

.main-content__buttons a:first-of-type {
	padding: 16px 62px;
	background-color: var(--orange);
}

.main-content__buttons a:last-of-type {
	padding: 16px 55px;
	background-color: var(--green);
}

/* WELCOME */

.welcome {
	background-color: rgba(63, 198, 110, 0.1);
}

.welcome-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.welcome-content h2 {
	margin-bottom: 60px;
	display: inline-block;
	font-size: 60px;
	font-weight: 700;
	line-height: 1.1;
	color: var(--black);
}

.welcome-content h2 span {
	color: var(--orange);
}

.welcome-content p {
	margin-bottom: 122px;
	display: inline-block;
	line-height: 2;
}

.welcome-content a {
	padding: 17px 45px;
	color: var(--white);
	background-color: var(--orange);
	border-radius: 162px;
	transition: all 0.3s ease-in-out;
}

.welcome-content a:hover {
	transform: scale(1.02);
}

/* MENU */

.menu {
	padding-top: 164px;
	padding-bottom: 200px;
}

.menu h2 {
	margin-bottom: 60px;
	font-size: 80px;
	line-height: 2;
	color: var(--black);
	text-align: center;
}

.menu-buttons {
	margin-bottom: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-buttons a {
	padding: 16px 65px;
	color: var(--black);
	background-color: rgba(208, 204, 199, 0.1);
	border-radius: 162px;
	transition: background-color 0.3s ease-in-out;
}

.menu-buttons a:hover {
	background-color: var(--orange);
}

.menu-buttons .checked {
	background-color: var(--black);
	color: var(--white);
}

.menu-items {
	margin-bottom: 88px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.menu-item {
	padding: 33px 34px 34px 34px;
	margin-bottom: 40px;
	width: 32%;
	background-color: rgba(208, 204, 199, 0.1);
	border-radius: 70px;
	text-align: center;
}

.menu-item h3 {
	margin-bottom: 5px;
	font-size: 30px;
	font-weight: 600;
	line-height: 2;
}

.menu-item__rating {
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.menu-item p {
	margin-bottom: 30px;
	font-size: 14px;
	font-weight: 400;
}

.menu-item__last {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* gap: 34px; */
}

.menu-item__last-price {
	font-size: 25px;
	font-weight: 600;
}

.menu-item__last a {
	padding: 11px 36px;
	font-size: 16px;
	background-color: var(--orange);
	color: var(--white);
	border-radius: 126px;
	transition: all 0.3s ease-in-out;
}

.menu-item__last a:hover {
	transform: scale(1.05);
}

.menu-pag {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.pag {
	position: relative;
	height: 55px;
	width: 55px;
	border-radius: 15px;
}

.pag span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
	font-weight: 200;
}

.back {
	background-color: var(--black);
	color: var(--white);
}

.next {
	background-color: var(--black);
	color: var(--white);
}

.page {
	background-color: var(--white-orange);
	color: var(--orange);
}

.dote span {
	font-size: 36px;
	color: #b7a28b;
}

/* RESERVEs */

.reserve {
	padding-top: 113px;
	padding-bottom: 39px;
	background-color: #fff4e7;
}

.reserve-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.reserve-left {
	transform: translate(-15%, 0);
}

.reserve-left {
	max-width: 800px;
}

.reserve-right h2 {
	margin-bottom: 60px;
	display: inline-block;
	font-size: 60px;
	font-weight: 700;
	line-height: 1.1;
	color: var(--black);
}

.reserve-right h2 span {
	color: var(--orange);
}

.reserve-right p {
	margin-bottom: 132px;
	line-height: 2;
}

.reserve-right a {
	padding: 17px 45px;
	color: var(--white);
	background-color: var(--orange);
	border-radius: 162px;
	transition: all 0.3s ease-in-out;
}

.reserve-right a:hover {
	transform: scale(1.02);
}

/* GREATEST */

.greatest {
	padding-top: 175px;
	padding-bottom: 271px;
}

.greatest h2 {
	margin-bottom: 135px;
	font-size: 80px;
	line-height: 1;
	text-align: center;
}

.greatest-items {
	margin-bottom: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.greatest-item {
	width: 30%;
	text-align: center;
	cursor: pointer;
}

.greatest-item img {
	margin-bottom: 40px;
}

.greatest-item h3 {
	margin-bottom: 30px;
	font-size: 25px;
	line-height: 2;
}

.greatest-item p {
	color: #a08d76;
	font-size: 25px;
	line-height: 1;
}

.greatest-button {
	text-align: center;
}

.greatest-button a {
	padding: 17px 45px;
	color: var(--white);
	background-color: var(--orange);
	border-radius: 162px;
	transition: all 0.3s ease-in-out;
}

.greatest-button a:hover {
	transform: scale(1.02);
}

/* CUSTOMERS */

.customers {
	position: relative;
	padding-top: 120px;
	padding-bottom: 60px;
	background-color: rgba(208, 204, 199, 0.1);
}

.customers h2 {
	margin-bottom: 57px;
	font-size: 80px;
	line-height: 2;
	text-align: center;
}

.customers-content {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.customer {
	margin-bottom: 90px;
	text-align: center;
}

.customer img {
	margin-bottom: 40px;
}

.customer h3 {
	margin-bottom: 6px;
	font-size: 30px;
	font-weight: 600;
	line-height: 2;
}

.customer span {
	line-height: 2;
	font-weight: 300;
}

.customers-desc {
	position: relative;
	max-width: 520px;
	font-weight: 300;
	line-height: 2;
	text-align: center;
}

.forging {
	position: absolute;
	font-size: 60px;
	font-weight: 600;
}

.forging-up {
	top: -30%;
	left: -10%;
}

.forging-buttom {
	right: 0;
	bottom: -25%;
}

.customers__last {
	text-align: center;
}

.circle {
	position: absolute;
	border-radius: 50%;
}

.circle-green {
	background-color: #ceefc8;
	width: 100px;
	height: 100px;
	top: 5%;
	left: 15%;
	opacity: 0.8;
}

.circle-blue {
	background-color: lightblue;
	width: 50px;
	height: 50px;
	top: 20%;
	left: 25%;
	opacity: 0.2;
}

.circle-pink {
	background-color: #ffb3b3;
	width: 75px;
	height: 75px;
	top: 30%;
	right: 20%;
	opacity: 0.3;
}

.circle-purple {
	background-color: #f3a7ff;
	width: 65px;
	height: 65px;
	top: 44%;
	right: 0;
	opacity: 0.3;
}

.circle-orange {
	background-color: #ffe2a7;
}
.circle-orange_big {
	width: 65px;
	height: 65px;
	top: 44%;
	left: 0;
	opacity: 0.5;
}

.circle-orange_mini {
	width: 65px;
	height: 65px;
	bottom: 11%;
	left: 20%;
	opacity: 0.7;
}
