:root {
	--black: #311f09;
	--orange: #ff8a00;
	--white: #fff;
	--green: #3fa72f;
	--white-orange: #f9cfa0;
}

body,
html {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	font-size: inherit;
}

/* HEADER */

nav a {
	margin-right: 45px;
	color: var(--black);
	transition: all 0.3s ease-in-out;
}

nav a:hover {
	color: var(--green);
	transform: scale(1.05);
}

nav a.checked {
	color: var(--orange);
}

nav a:last-of-type {
	margin-right: 0;
}

header {
	margin-top: 51px;
}

.container {
	max-width: 1237px;
	margin: 0 auto;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-content__logo {
}

.header-content__last {
	display: flex;
	align-items: center;
	gap: 20px;
}

.header-content__last a:last-of-type {
	padding: 15px 34px;
	color: var(--white);
	background-color: var(--green);
	border-radius: 133px;
	transition: all 0.3s ease-in-out;
}

.header-content__last a:last-of-type:hover {
	background-color: var(--orange);
}

/* MAIN */

.main {
	margin-top: 166px;
}

.main-content {
	display: flex;
	justify-content: space-between;
}

.main-content__about {
	margin-bottom: 22px;
	display: inline-block;
	padding: 10px 34px;
	background-color: var(--white-orange);
	border-radius: 126px;
	color: var(--orange);
}

.main-content h1 {
	margin-bottom: 34px;
	font-size: 80px;
	line-height: 1.1;
	font-weight: 700;
	color: var(--black);
}

.main-content p {
	margin-bottom: 77px;
	display: inline-block;
	line-height: 2;
}

.main-content__buttons {
	display: flex;
	align-items: center;
	gap: 20px;
}

.main-content__buttons a {
	color: var(--white);
	display: inline-block;
	border-radius: 162px;
	transition: 0.3s ease-in-out;
}

.main-content__buttons a:hover {
	transform: scale(1.05);
}

.main-content__buttons a:first-of-type {
	padding: 16px 62px;
	background-color: var(--orange);
}

.main-content__buttons a:last-of-type {
	padding: 16px 55px;
	background-color: var(--green);
}

/* WELCOME */

.welcome {
	background-color: rgba(63, 198, 110, 0.1);
}

.welcome-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.welcome-content h2 {
	margin-bottom: 60px;
	display: inline-block;
	font-size: 60px;
	font-weight: 700;
	line-height: 1.1;
	color: var(--black);
}

.welcome-content h2 span {
	color: var(--orange);
}

.welcome-content p {
	margin-bottom: 122px;
	display: inline-block;
	line-height: 2;
}

.welcome-content a {
	padding: 17px 45px;
	color: var(--white);
	background-color: var(--orange);
	border-radius: 162px;
	transition: all 0.3s ease-in-out;
}

.welcome-content a:hover {
	transform: scale(1.02);
}
